*{
    margin: 0;
padding: 0;}

@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto-Regular.ttf) format("truetype");
}


@font-face {
    font-family: "Roboto_Light";
    src: url(Fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto_Bold";
    src: url(Fonts/Roboto-Black.ttf) format("truetype");
}

body{height:100vh;
background-color: #161616;
}

svg{cursor: pointer;
position: absolute;
top: 0px;}


.nome{width: 200px;
height: 50px;}

#menu_telemovel{display: none;}

#forma_verde{
left: 60%;
top: 40%;}

header{display: flex;}



h2{font-family:"Roboto_Light";
font-size: 70px;
margin-left: 50px;
    color: white;
}

h3
{font-family:"Roboto_Bold";
    width: 650px;
    color:white;
margin-top: 10px;
    margin-left: 10px;
font-size: 26px;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;}

.nome h3:hover{
    color: white;
    animation-name: anima_h;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;

}

.nome img{display: none;
}

.fundo h4{font-family:"Roboto_Bold";
font-size: 80px;
    color: white;
    z-index: 4;
}

.fundo h4:hover{
    animation-name: anima_h4;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
   }


p
{font-family:"Roboto_Light";
    line-height: 30px;
    color: white;
}

a{text-decoration: none;
color: black;
}

a:hover{font-size: 16.3px;
}



hr{width: 80%;
    border-top: 0.5px solid white;
    border-bottom: none;
    border-left: none;
    border-right: none;
margin-top: 30px;
margin-left:40px;}


.fundo h4{

    position: absolute;
bottom: 10px;
right:10px;}



.medio{display: flex;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
   text-align: center;
justify-content: space-between;
height: 90%;
}

.medio_esquerdo{
    margin-top: auto;
    margin-bottom: auto;}

.medio_direito{
    margin-top: auto;
    margin-bottom: auto;}




#lado{display: flex;}

section{display: flex;
justify-content: space-evenly;
z-index: 2;}

#sobre_mim_texto {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

#sobre_mim_h {
    margin-top: 9%;

}


#sobre_mim_texto p {
    text-align: left;

}

#forma_sobre{z-index: -1;}



#forma_amarela{top: 100px;
left: 70px;
}

#forma_verde{
    left: 70%;
    top: 40%;
    position: absolute;
}

#forma_verde p {
    font-family: Roboto_Bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    font-size: 2em;
    font-weight: bold;
margin-left: -400px;
    margin-top: 50px;
    text-align: center;
}


.apaga{
    display:none;
   position: absolute;
    z-index: 3;
    width: 500px;
    /*margin-left:-190px;*/
    /*margin-top: 35px;*/

}



.apaga p{
    line-height: 25px;}


.animacao:hover .apaga{
    display: block;
font-size: 0.8em;
}

.apaga a:hover{
    font-size: 1em;
    font-weight: bold;
}

#forma_amarela{
    position: absolute;
    left: 5%;
    top: 10%;

}

#forma_amarela p{
    font-family: Roboto_Bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 2em;
    font-weight: bold;
}



#forma_roxa{
    position: absolute;
left: 45%;
top: 9%;}

#forma_roxa p{
    font-family: Roboto_Bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    font-size: 2em;
    font-weight: bold;
margin-top: 35px;
    margin-left: 140px;

}

#forma_amarilo{
    position: absolute;
    left: 85%;
    top: 10%;}

#forma_amarilo p{
    font-family: Roboto_Bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 35px;
    margin-left: -50px;

}

#forma_rosa{
    position: absolute;
    left: 25%;
    top: 35%;}

#forma_rosa p{
    font-family: Roboto_Bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 110px;

}

#forma_vermelha{
    position: absolute;
    left: -1%;
    top: 70%;}

#forma_vermelha p{
    font-family: Roboto_Bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 130px;

}

#forma_branca{
    position: absolute;
    left: 40%;
    top: 55%;}

#forma_branca p{
    font-family: Roboto_Bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 70px;
    margin-left: -100px;

}

#grupo{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 70%;
    height: 86vh;
    z-index: 4;
overflow: scroll;}

.projetos{display: flex;
align-items: center;
    margin-top: 4%;
    justify-content: space-between;

}

.projetos h3{ font-family: "Roboto_Bold";
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 1px transparent;
    text-stroke: 1px transparent;
}

.projetos h3:hover{
    color: white;
    animation-name: anima;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}

.projetos p{font-family: Roboto_Light;
    font-size: 20px;
    color: white;}

#forma_projeto svg{z-index: -1;
margin-left: 10%;
margin-top: 10%;}

@keyframes anima {
    from {
        color: white;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
    }

    to {
        color: transparent;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
    }
}



@keyframes anima_h {
    from {
        color:white;
        -webkit-text-stroke: 1px black;
        text-stroke: 1px black;
    }

    to {
        color: transparent;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
    }
}

@keyframes anima_h4 {
    from {
        color: white;
        -webkit-text-stroke: 1px black;
        text-stroke: 1px black;
    }

    to {
        color: transparent;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
    }
}

@media screen  {
@media(max-width: 600px)  {

   body{
       overflow-x: hidden;
       overflow-y: hidden;
       background-color: black;
       height: 100vh;

   }

    h3{-webkit-text-stroke: 1px white;
        text-stroke: 1px white;}

    #menu_telemovel{
        position: absolute;
        display: none;
    background-color: black;
        width: 100%;
        height: 100% ;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
    z-index: 5;}

    .imagem_cruz{position: absolute;
    right: 5%;
        margin-top: -4%;}

    #menu_telemovel p{text-align: center;
    font-family: Roboto_Light;
    font-size: 40px;
        margin-top: 15%;
}

    .opcoes{margin-top:40%;
    height: 50%;
}


    #medio_index{display: none;}

hr{display: none;}

.nome h3{font-family: Roboto_Light;
    font-size: 25px;
width: max-content;
}

    .fundo h4{font-size: 35px;}

    #forma_verde{display: none}
    #forma_branca{display: none}
    #forma_vermelha{display: none}
    #forma_roxa{display: none}
#forma_verde{display: none}

    #forma_amarilo{margin-left:-50%;
        margin-top: 41%;
    width: 60%;}

    #forma_amarela{ margin-left:17%;
        margin-top: 1%;}

    #forma_rosa{margin-top: 55%;
    margin-left: -21%}

    .nome{display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 96%;}

    .nome img{display: block;
        width: 45px;}

    .medio_direito{display: none;}

    .medio_esquerdo{display: none;}

    section{display: block;
    width: 100%;}

    #sobre_mim_h h2{margin-left: 0;
    text-align: center;
    font-size: 50px;}

    #sobre_mim_texto {overflow: scroll;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 85%;}

    #fundo_sobre{display: none;}
}

    #forma_azul {width: 80%;
    margin-left: 10%;}


.projetos h3{font-size: 30px;
   }

#grupo{
    width: 80%;
    left:10%;
    margin-left: auto;
    margin-right: auto;
    height: 86%;
}

#forma_projeto svg{width: 70%;
}

.projetos{display: block;
    overflow-x: hidden;
    margin-top: 25px;
  }

.projetos h3{width: 100%;
    margin-top: 0px;
 margin-left: 0px;}



}